# WMS setup with mapserver and nginx
---
version: '3'
services:
    mapws:
        image: dgricci/mapserver:7.2.0
        working_dir: /geodata
        command: bash -c "/usr/bin/spawn-fcgi -a '10.1.61.82' -p '9000' -F '1' -u 'www-data' -U 'www-data' -g 'www-data' -G 'www-data' -n -- /usr/sbin/fcgiwrap -f"
        volumes:
            - ./etc/default/fcgiwrap:/etc/default/fcgiwrap:ro
            - ./data/:/geodata/:ro
        networks:
            GEOBUS:
                ipv4_address: 10.1.61.82
    web:
        image: dgricci/nginx:1.10.3
        working_dir: /geodata
        depends_on:
            - mapws
        networks:
            GEOBUS:
                ipv4_address: 10.1.61.83
        ports:
            - "6080:80"
            - "6443:443"
        volumes:
            - ./etc/nginx/:/etc/nginx/:ro
            - ./data/:/geodata/:ro
networks:
    GEOBUS:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 10.1.61.80/29
volumes: {}
...

